@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e6e6ff;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.animationButton {
  animation-duration: 10000ms;
}

/* This was addded for the react-quil editor */
.ql-container{
  border: none !important;
}
.ql-toolbar{
  border: none !important;
}
.ql-editor{
  border: none !important;
}

/* for removing the white bg of the content-text from the editor */
.custom-content {
  background-color: #f0f8ff; /* Example: light blue */
  padding: 1rem;           /* Optional: Add padding for better appearance */
  border-radius: 8px;      /* Optional: Add rounded corners */
  color: #333;             /* Optional: Change text color */
}

/* Ensure all child elements within the content have the desired background */
.custom-content * {
  background-color: inherit !important; /* Inherit the parent's background color */
}

